
.container{
    height: 100vh;
    width: 320px; 
    background-color: rgb(240, 233, 233);
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border-radius: 10px;
}

.display-container{
    display: flex;
    flex-direction: column;
    height: 20%;
    
}

.dis{
    height: 50%;
    width: 295px;
    font-size: 20px;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.2rem;
    border-radius: 10px;

}
.calc{
    background-color: rgb(218, 202, 233);
    height: 30%;  
    width: 298px;  
    font-size: 15px;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.2rem;    
    border-radius: 10px;   
}

.answer{
    margin-left: 0.5rem;
    margin-top: 8px;
}
.btncont{
    height: 77%;
    width: 100%;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;

}

button{
    height: 15%;
    width: 81px;
    border-radius: 50%;
    font-size: large;
    background-color: white;
}